.shop-review {
  display: flex;
}
.products {
  width: 77%;
  margin: 0 1% 0 1.5%;
  border-right: 1px solid lightgrey;
  padding-right: 0.3%;
  min-height: 85vh;
}
.cart {
  margin: 0 auto;
}
.spinner {
  text-align: center;
  margin-top: 100px;
}
.spinner img {
  width: 160px;
}
@media (max-width: 992px) {
  .products {
    width: 73%;
  }
}
@media (max-width: 767.98px) {
  .shop-review {
    flex-direction: column-reverse;
  }
  .products {
    width: 98%;
    border-right: none;
    margin-top: 40px;
    min-height: 0;
  }
  .spinner {
    margin-top: 0;
  }
}
